/* hacemos que nav se presente en bloque */
nav {
    display: block;
    width: 480px;
    border: 1px solid gray;
    background-color: rgb(215,230,245);
    padding-left: 4px;
}
a {
    text-decoration: none;
}