h1 {
    border-style: solid;
    border-width: 7px;
    border-top-color: rgb(215,230,245);
    border-bottom-color: rgb(215,230,245);
    border-left-color: rgb(125,165,205);
    border-right-color: rgb(125,165,205);
    text-align: center;
}