ul {
    list-style: none;
    padding: 5px;
}
li {
    display: inline;
    border: 1px solid #999;
    background-color: rgb(215,230,245);
    text-align: center;
    margin-right: 3px;
    padding-right: 15px;
    padding-left: 15px;
}