div{
    width: 200px;
    float: left;
    margin-right: 15px;
}
#calibri {
    font: 14px Calibri sans-serif;
    font-size-adjust: 0.465;
}
#verdana {
    font: 14px Verdana, sans-serif;
    font-size-adjust: 0.465;
    
}