#box{
    width: 420px;
    height: 240px;
    text-align: justify;
    column-count: 2;
    column-gap: 2em;
    column-rule: 1px solid silver;
    -moz-column-count: 2;
    -moz-column-gap: 2em;
    -moz-column-rule: 1px solid silver;
}