#box{
    width:300px;
    height: 100px;
    border-width: 20px;
    border-image: url('../border.png') 30 round stretch;
    -moz-border-image: url('../border.png') 30 round stretch;
    -webkit-border-image: url('../border.png') 30 round stretch;
    padding: 10px;
    text-align: center;
}